body {
    background-color: #000000;
     font-family:  Georgia, 'Times New Roman', Times, serif;
     margin: 0;
   }

   .move{
    text-align: center;
   }
   h1 {
     color: rgb(255, 255, 255);
   }
   h2
   {
     color:  rgb(255, 255, 255);
   }
   h3
   {
     color:  rgb(255, 255, 255);
   }
   
   h4
   {
     color:  rgb(255, 255, 255);
   }

   img:hover {
    box-shadow: 0 0 15px 5px white;
    transition: box-shadow 0.3s ease-in-out;
}

   .header img {
     float: left;
     width: 90px;
     height: 90px;
     background: #555;
   }
   
   .right{
text-align: right;


   }
   .header {
       padding: 1px;
       text-align: center;
       background: #000000;
       color: white;
       font-size: 18px;
     }
     .topnav {
      overflow: hidden;
      background-color: #000000;
      display: flex; /* Use flexbox for better alignment */
  }
  
  .topnav a {
      display: inline-block;
      padding: 10px 15px;
      text-decoration: none;
      border-radius: 15px; /* Makes the links rounded */
      background-color: #000000; /* Default background color */
      color: rgb(245, 245, 245); /* Default text color */
      transition: background-color 0.3s ease, color 0.3s ease;
      font-size: 17px;
  }
  
  .topnav a:hover {
      background-color: #3d3c3c; /* Fully opaque light gray */
      color: white; /* White text on hover */
  }
  
